.navbar {
  max-width: 100%;
  /* Espacement vertical */
  overflow: hidden; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex; 
  /* Utilisation de flexbox */
  justify-content: flex-end;/* Évite les débordements dus au float */
}

.list {
  gap: 20px;
  margin: 0;
  padding: 10px;

}
.navlink {
  list-style: none;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  
}
.navlink:hover {
  background-color: rgba(34, 33, 33, 0.363);
}

.navlink a {
  text-decoration: none; /* Supprime le soulignement */
  color: pink; /* Couleur par défaut des liens */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transition fluide */
}



