div {
    display: flex;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.815);
}

aside {
    max-width: 30%;
    padding: 30px;
}

img {
    margin-top: 100px;
    width: 60%;
    height: auto;
    border-radius: 10px;
}